amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
Babel==2.3.4
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
billiard==3.3.0.23
boto==2.42.0
boto3==1.4.0
botocore==1.4.44
bumpversion==0.5.3
celery==3.1.23
certifi==2016.8.2
click==6.6
configparser==3.5.0
contextlib2==0.5.4
coverage==4.2
crontab==0.21.3
dateutils==0.6.6
decorator==4.0.10
Django==1.9.9
django-cors-headers==1.1.0
django-extensions==1.7.2
django-filter==0.14.0
django-fsm==2.4.0
django-model-utils==2.5.2
django-mptt==0.8.5
django-redis-cache==1.6.5
django-rest-swagger==0.3.8
django-storages-redux==1.3.2
django-viewflow==0.10.1
django-webtest==1.7.9
djangorestframework==3.4.5
docutils==0.12
enum34==1.1.6
ez-setup==0.9
factory-boy==2.7.0
fake-factory==0.6.0
fancycompleter==0.5
filechunkio==1.8
flake8==3.0.4
Flask==0.11.1
flower==0.9.1
funcsigs==1.0.2
futures==3.0.5
gunicorn==19.6.0
hiredis==0.2.0
httpretty==0.8.10
imageio==1.5
ipaddress==1.0.16
ipython==5.1.0
ipython-genutils==0.1.0
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsonpath-rw==1.4.0
kombu==3.0.35
livereload==2.4.1
Logentries==0.17
luizalabs-django-toolkit==0.0.1
Markdown==2.6.6
MarkupSafe==0.23
mccabe==0.5.2
mkdocs==0.15.3
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
mock==2.0.0
model-mommy==1.2.6
moto==0.4.25
moviepy==0.2.2.11
music21==3.1.0
mysqlclient==1.3.7
numpy==1.11.1
oauthlib==1.1.2
ordereddict==1.1
pathlib2==2.1.0
pbr==1.10.0
pexpect==4.2.0
pickleshare==0.7.3
Pillow==3.3.1
ply==3.8
prompt-toolkit==1.0.5
ptyprocess==0.5.1
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
Pygments==2.1.3
pyrepl==0.8.4
pyslack-real==0.6.0
pytest==3.0.0
pytest-cov==2.3.1
pytest-django==3.0.0
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.11
ramos==0.0.3
redis==2.10.5
requests==2.11.1
requests-futures==0.9.7
requests-mock==1.0.0
requests-oauthlib==0.6.2
s3transfer==0.1.2
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
tornado==4.2
tqdm==4.8.4
traitlets==4.2.2
vcrpy==1.10.0
waitress==0.9.0
wcwidth==0.1.7
WebOb==1.6.1
WebTest==2.0.23
Werkzeug==0.11.10
whitenoise==3.2.1
wmctrl==0.3
wrapt==1.10.8
xmltodict==0.10.2
